[submodule "sesi8"]
	path = sesi8
	url = https://github.com/Ghifariezra/belajar-bareng-automation.git
[submodule "sesi10"]
	path = sesi10
	url = https://github.com/Ghifariezra/sauce-demo-automation.git
[submodule "sesi11"]
	path = sesi11
	url = https://github.com/Ghifariezra/appium-mobile-test-automation.git
